/* Custom Fonts  */

/* Primary Font */
@font-face {
  src: url("./fonts/Lato-Regular.ttf");
  font-family: lato;
}

/* Secondary Font */
@font-face {
  src: url("./fonts/Ubuntu-Regular.ttf");
  font-family: dalton;
}

/* Basic styling to be followed by the entire website */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* GUIDE color */
.accent {
  color: #2eb82e;
}

/* HackerSpace color in the home page */
.hackerSpace {
  color: #7330ed;
}

body {
  font-family: lato, dalton;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

.navBar {
  background: #e5e5e5;
  height: 10vh;
  width: 100%;
  margin-right: 0px;
}

.logo {
  color: black;
  font-size: 35px;
  line-height: 10vh;
  padding: 0 80px;
  font-weight: bold;
}

.navList {
  float: right;
  margin-right: 20px;
}

.navItem {
  display: inline-block;
  line-height: 10vh;
  margin: 0 5px;
}

.navLink {
  color: black;
  font-size: 17px;
  font-weight: 600;
  padding: 7px 30px;
  border-radius: 3px;
  text-transform: uppercase;
}

.navLink:hover {
  color: #2eb82e;
  transition: 0.5s;
}

/* Used for the ham burger icon  */
.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* Used for the ham burger icon  */
#check {
  display: none;
}

.home {
  /* padding: 50px 40px 0px 40px; */
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  height: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.header {
  font-size: 25px;
  font-weight: 600;
}

.content {
  font-size: 20px;
}

/* Custom card with shadown */
.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 3%;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Initial image in the hope page */
.image_div {
  flex: 1;
  max-height: 60vh;
  margin-right: 10px;
  max-width: 50vw;
}
.homeImage {
  /* max-height: inherit; */
  max-width: inherit;
}

.hacktoberImage {
  height: 150px;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  padding: 30px;
  bottom: 0;
  position: relative;
}

/* PES logo in the footer */
.pesLogo {
  height: 25px;
}

/* Social Icons in the footer */
.footerIcon {
  font-size: 30px;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  float: right;
  justify-content: right;
}

.footerSpace {
  width: 1800px;
}

/* RR Campus Page */

.rrBox {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

/* Headers for the Collection */
.collHeader {
  font-size: 25px;
  font-weight: 600;
}

/* Collection Flex box */
.rrColl {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* image used in the collection card */
.imgColl {
  height: 300px;
  width: 500px;
}

.row {
  display: flex;
  flex-direction: row;
}

/* image used in the description card */
.dscImage {
  height: 190px;
}

/* map image used in the description card */
.dscMap {
  height: 400px;
}

/* Custom description card */
.dscCard {
  padding: 10px;
  border-radius: 8% 0 0 8%;
  transition: 0.3s;
  background-color: #d9d9d9;
  margin-bottom: -1px;
  transition: 500ms;
  display: none;
  visibility: hidden;
}

/* Button that wraps around the collection card  */
.dscButton {
  border: none;
}

.dscButton:focus {
  border-color: #2eb82e;
  outline-color: #2eb82e;
}

/* close icon in the description crad */
.dscCross {
  display: none;
}

/* Media Quaries for smooth transition */

@media (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 50px;
  }
  .navLink {
    font-size: 16px;
  }
  .home {
    padding: 50px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .homeImage {
    height: 360px;
  }
  .hacktoberImage {
    height: 200px;
  }
}

/* Media Quaries for Mobile View */

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  .navList {
    position: fixed;
    width: 100%;
    background: #e5e5e7;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navItem {
    display: block;
    margin: 15px 0;
    line-height: 30px;
  }
  .navLink {
    font-size: 17px;
  }
  a:hover {
    color: #2eb82e;
  }
  .home {
    padding: 0px 0px 0px 0px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .logo {
    font-size: 25px;
    padding: 0 30px;
  }
  .homeImage {
    height: 170px;
  }
  .hacktoberImage {
    height: 150px;
  }
  .header {
    font-size: 25px;
    font-weight: 600;
  }
  .content {
    font-size: 15px;
  }
  .card {
    width: auto;
  }
  .pesLogo {
    height: 18px;
  }
  .footerIcon {
    font-size: 16px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .footherSpace {
    width: 0px;
  }
  .footer {
    padding: 30px 0px 30px 0px;
  }
  .rrBox {
    justify-content: center;
  }
  .rrColl {
    padding: 10px 10px 10px 10px;
    align-items: center;
  }
  .imgColl {
    height: 60px;
    width: 110px;
  }
  .dscImage {
    height: 120px;
  }
  .dscMap {
    height: 300px;
  }
  #dscHeader {
    font-size: 20px;
  }
  .dscCard {
    position: fixed;
    width: 100%;
    left: 100%;
    padding: 5%;
    border-radius: 8%;
    background-color: rgb(217, 217, 217, 0.85);
  }
  .dscCard.active {
    left: 0%;
  }
  .collHeader {
    font-size: 15px;
    font-weight: 600;
  }
  .dscCross {
    display: block;
    font-size: 20px;
    float: right;
  }
}

/* Hover effects for Socials found in the footer  */

#github:hover {
  color: rgb(53, 48, 48);
}
#instagram:hover {
  color: rgb(220, 20, 60);
}
#discord:hover {
  color: rgb(65, 65, 196);
}

#mail:hover {
  color: rgb(175, 8, 8);
}

.grow img {
  transition: 1s ease;
}

.grow img:hover {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 10px 5px 9px #888888;
}
